.team-on-click-skills-container * {
    font-family: var(--font-family);
}

.team-on-click-skills-container{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    color: white;
    width: 100%;
    gap: 10%;
}


.team-on-click-skills-container div{
    width: 30%;
}


.team-on-click-skills-container-Qualifications ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
}

/*font size styles*/
h1{
    font-size: 32px;
    margin-bottom: 50px;
}

span{
 font-size: 18px;
 font-weight: 900;
}

p, li{
    font-size: 18px;
}



  /*  media queries to make the component responsive */
  
  @media (max-width: 768px) {
    .team-on-click-skills-container {
      max-width: 600px; /* adjust the max-width for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .team-on-click-skills-container {
      max-width: 400px; /* adjust the max-width for smaller screens */
    }
    .team-on-click-skills-container-tools h1,
    .team-on-click-skills-container-Qualifications h1,
    .team-on-click-skills-container-Achievements h1 {
      font-size: 20px; /* adjust the font size for smaller screens */
    }
    .team-on-click-skills-container-tools p,
    .team-on-click-skills-container-Qualifications ul,
    .team-on-click-skills-container-Achievements p {
      font-size: 14px; /* adjust the font size for smaller screens */
    }
  }