@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.home-what-we-do-section-container * {
  font-family: var(--font-family);
  color: var(--primary-white);
  margin: 0;
  padding: 0;
  color: var(--primary-white);
}

.home-what-we-do-section-container {
  display: flex;
  flex-direction: column;
  gap: 112px;
  background: var(--primary-black);
  padding: 56px 80px;
}

.home-what-we-do-section-container-heading-underline {
  display: flex;
  justify-content: start;
  height: fit-content;
  border-bottom: 2px solid var(--strokecolor-black);
}
.home-what-we-do-section-container-heading-underline h1 {
  color: var(--primary-white);
  text-align: left;
  padding-bottom: 16px;
}
.home-what-we-do-section-container-service-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 24px;
  justify-content: center;
}
.home-what-we-do-section-container-service-cards-container-cards {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-radius: 16px;
  background: var(--on-black);
}
.home-what-we-do-section-container-service-cards-container-card-text-n-btn {
  display: flex;
  gap: 40px;
}
.home-what-we-do-section-container-service-cards-container-card-text-n-btn-text {
  /* width:70%; */
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.home-what-we-do-section-container-service-cards-container-cards img {
  border-radius: 12px;
}
.home-what-we-do-section-container-service-cards-container-cards h3 {
  font-size: 18px;
}
.home-what-we-do-section-container-service-cards-container-cards p {
  font-size: 14px;
  font-weight: 100;
  width: 100%;
}
.home-what-we-do-section-container-service-cards-container-card-text-n-btn-btn {
  visibility: hidden;
  transform: translateY(20px);
  opacity: 0;
}

.home-what-we-do-section-container-service-cards-container-cards:hover
  .home-what-we-do-section-container-service-cards-container-card-text-n-btn-btn {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.home-what-we-do-section-container-service-cards-container-card-text-n-btn-btn
  img {
  width: 50px;
  height: 50px;
}

@media (max-width: 400px) {
  .home-what-we-do-section-container-service-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 24px;
  }
}
