.home-slidable-section {
  background: var(--on-black, #232323);
}

.home-slidable-section > h1 {
  color: var(--orange-orange-light, #f5c477);
}

.home-slidable-section-slider {
  display: flex;
  overflow-x: scroll;
  gap: 18px;
}

.home-slidable-section-slides {
  min-width: 300px;
  max-width: 350px;
  flex: 1;

  padding: 18px;
  border-radius: var(--bd-radius-32, 32px);
  height: 540px;
  background-color: var(--sf-on-pm-black);
}

.home-slidable-section-slides > div {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 18px;
  border-radius: 32px;
  background-color: red;
  background-image: url(https://us.123rf.com/450wm/mklrnt/mklrnt2001/mklrnt200113974/138250650-young-handsome-african-businessman-against-gray-background.jpg?ver=6);
  background-size: cover;
  background-repeat: no-repeat;
}

.home-slidable-section-slides p {
  padding: var(--Space-300, 12px) 20px;
  border-radius: var(--bd-radius-32, 32px);

  background: var(--primary-white, #fefefe);
}
