.portfolio-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.portfolio-card {
  border: 1px solid var(--white-strokecolor-white, #e7e7e7);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.portfolio-card img {
  width: 100%;
  object-fit: cover;
}

.portfolio-card .swiper-pagination-bullet-active {
  background: var(--primary-green);
}

.portfolio-card .swiper-image {
  min-height: 300px;
}

.portfolio-details {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 10px;

  padding: 10px;
}

.portfolio-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.portfolio-info h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.portfolio-info p {
  font-size: 18px;
  font-weight: 500;
}

.portfolio-info-departments {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.portfolio-info-departments span {
  padding: 10px 16px;
  border-radius: 30px;
  border: 1px solid var(--black-black-fade, #7e7e7e);

  font-size: 12px;
  font-weight: 400;
}

.portfolio-see-more-button {
  display: flex;
  min-width: 150px;
  padding: var(--Space-400, 16px) 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  color: var(--primary-white);
  background: var(--black-primary-black, #1d1d1d);
}

.portfolio-see-more-button span {
  font-size: 12px;
  font-weight: 400;
}

.portfolio-see-more-button img {
  width: 20px;
}

@media (max-width: 1100px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}
