.home-our-work-section {
  background: var(--primary-white, #fefefe);
}

.home-our-work-section h1 {
  padding-bottom: 18px;
  border-bottom: 2px solid var(--white-fade);
  text-align: right;
}

.home-our-work-section-header {
  width: 100%;
}
