.contact-form {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-form h1 {
  width: 30%;
  text-align: center;
}

.contact-form .form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
  padding: 20px;
  border: 1px solid var(--strokecolor-black);
  border-radius: 20px;
}

.contact-form .form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form .form div input {
  width: 100%;
  background-color: var(--strokecolor-black);
  padding: 12px;
  outline: none;
  border: transparent;
  border-radius: 20px;
}

.contact-form .form div textarea {
  min-height: 200px;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--strokecolor-black);
  color: inherit;
  border: transparent;
}
======= .contact-form-section h1 {
  font-size: 76px;
}

.contact-form-section h1 {
  color: var(--white-primary-white, var(--primary-white, #fefefe));
  width: 100%;
  padding-bottom: 18px;
  border-bottom: 1.5px solid var(--strokecolor-white);
}

.contact-form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 82px;
  align-self: stretch;
  background: var(--black-primary-black, #1d1d1d);
}

.contact-form-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  width: 100%;
}

.contact-form-container p {
  font-size: 18px;
  color: var(--primary-white);
}

.contact-form-container form {
  align-self: flex-end;
  max-width: 1000px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;

  border-radius: var(--bd-radius-32, 32px);
  border: var(--sds-size-stroke-border) solid
    var(--black-strokecolor-black, #3d3d3d);

  background: var(--black-on-black, #232323);
  box-shadow: 0px 2px 4px 0px rgba(25, 25, 25, 0.16);

  padding: 48px 24px;
  margin-left: auto;
}

.contact-form-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-form-input > * {
  color: var(--primary-white);
  font-size: 18px;
}

.contact-form-input input,
.contact-form-input textarea {
  display: flex;
  padding: 16px 20px;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: var(--bd-radius-32, 32px);
  border: var(--stroke-sm, 0.5px) solid var(--black-strokecolor-black, #3d3d3d);
  background: var(--black-strokecolor-black, #3d3d3d);
}

.contact-form-input textarea {
  min-height: 100px;
}

@media (max-width: 910px) {
  .contact-form-container p {
    max-width: unset;
  }
  .contact-form-container form {
    margin-left: 0px;
    max-width: unset;
    width: unset;
  }
  .contact-form-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 560px) {
  .contact-form-section h1 {
    font-size: 56px;
  }

  .contact-form-input input,
  .contact-form-input textarea {
    width: 100%;
  }
}
