@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  .home-hero-section{
    display: flex;
    padding: 0px 80px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  .home-hero-section-container{
    display: flex;
    padding:200px 56px 80px;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    gap: 2%;
    /* flex: 1 0 0; */
  }
  .home-hero-section-container-text-n-btns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .home-hero-section-container-text-n-btns>h1{
    width:628px;
    height:fit-content;
    margin:0;
  }
  .home-hero-section-container-text-n-btns>p{
    width:544px;
    margin:0;
  }
  .display-lg{
    font-family:var(--font-family);
    color: var(--primary-white);
    font-size: 76px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 105.263% */
    letter-spacing: -1.52px;
  }
  .body-lg{
    color: var(--primary-white);
    font-family:var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .body-lg-heavy{
    color: var(--primary-white);
    font-family:var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .home-hero-section-container-btn-grp{
    display: flex;
    align-items: center;
    gap: 48px;
  }
  .btn-regular{
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border:none;
    font-family:var(--font-family);
    color:var(--primary-black);
    background: var(--primary-green);
    font-weight: 600;
  }
  .underline-link{
    background:none;
    border:none;
    display:flex;
    align-items:center;
    gap:10px;
  }
  .abs{
    position:absolute;
  }
  .home-hero-section-container-clients{
    background:transparent;
    right:38vw;
    transform:translateY(100px);
  }
  .home-hero-section-container-rating{
    right:5vw;
    transform:translateY(-200px);
    background:transparent;
  }
