.footer-component {
  background-color: var(--primary-white);
  height: fit-content;
  display: flex;
  margin-inline: auto;
}

.footer-component-first-section {
  display: flex;
  padding: 120px 0px 0px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  flex: 1 0 0;
  align-self: stretch;
  border-right: 1.5px solid var(--strokecolor-white, #1d1d1d);
}

.footer-component-first-section > div {
  display: flex;
  align-items: center;
  gap: 17px;
  align-self: stretch;
}

.footer-component-first-section > div > span {
  font-size: 18px;
  font-weight: 800;
}

.footer-component-second-section {
  display: flex;
  flex-direction: column;
  /* width: 70%; */
}

.footer-component-second-section-upper {
  display: flex;
  padding: 120px 180px 32px 80px;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1.5px solid var(--strokecolor-white, #1d1d1d);
  max-width: 968px;
  gap: 1rem;
}

.footer-component-second-section-upper li a {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  min-width: 50px;
}

.footer-component-second-section-upper li a:hover,
a.active-footer-link {
  color: var(--primary-green) !important;
}

.footer-component-second-section-lower {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-component-second-section-lower ul {
  display: flex;
  max-width: 868px;
  padding: 32px 80px;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-component-second-section-lower ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-component-second-section-lower ul li a span {
  color: var(--black-primary-black, #1d1d1d);
  font-size: 18px;
  font-weight: 700;
}

.footer-component-second-section-lower-copyright {
  display: flex;
  gap: 10px;
  padding-left: 80px;
  font-size: 16px;
}

.footer-component-second-section-lower-copyright span {
  font-weight: 600;
  font-size: 14px;
}

.footer-component-second-section-lower-copyright > p {
  margin: 0px;
  font-size: 14px;
}

.footer-component-logo-label img {
  width: 120px;
}

/* media queries */
@media (max-width: 1000px) {
  .footer-component-first-section {
    padding: 60px;
    gap: 40px;
  }

  .footer-component-second-section-upper,
  .footer-component-second-section-lower ul {
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
  }

  .footer-component-second-section-lower-copyright {
    padding: 20px;
    padding-left: 40px;
  }
}

@media (max-width: 650px) {
  .footer-component-first-section {
    justify-content: start;
    padding: 40px;
  }

  .footer-component-second-section-lower ul,
  .footer-component-second-section-upper {
    flex-direction: column;
  }

  .footer-component-second-section-upper,
  .footer-component-second-section-lower ul {
    padding: 35px;
  }

  .footer-component-second-section-lower-copyright {
    padding-left: 35px;
  }
}

@media (max-width: 600px) {
  .footer-component {
    flex-direction: column;
  }

  .footer-component-first-section {
    padding: 20px;
    gap: 10px;
  }

  .footer-component-first-section > div {
    gap: 10px;
  }

  .footer-component-logo-label img {
    width: 50px;
  }

  .footer-component-logo-label span {
    font-size: 14px !important;
  }

  .footer-component-first-section p {
    font-size: 14px;
  }

  .footer-component-second-section-lower-copyright,
  .footer-component-second-section-lower ul,
  .footer-component-second-section-upper {
    padding: 20px;
  }

  .footer-component-second-section-upper {
    border-top: 1.5px solid var(--strokecolor-white, #1d1d1d);
  }

  .footer-component-second-section-upper li a {
    font-size: 16px;
    min-width: 40px;
  }

  .footer-component-second-section-lower ul li a {
    gap: 6px;
  }

  .footer-component-second-section-lower ul li a span {
    font-size: 16px;
  }

  .footer-component-second-section-lower ul li a img {
    width: 25px;
  }
}

@media (max-width: 370px) {
  .footer-component-first-section,
  .footer-component-second-section-upper,
  .footer-component-second-section-lower ul,
  .footer-component-second-section-lower-copyright {
    padding: 16px;
  }
}
