@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.home-about-section-container * {
  margin: 0;
  padding: 0;
  color: var(--primary-black);
}

.home-about-section-container {
  display: flex;
  gap: 80px;
  flex-direction: column;
  background: var(--primary-white);
}

.home-about-section-container-heading-underline {
  display: flex;
  justify-content: end;
  height: fit-content;
  border-bottom: 2px solid var(--white-fade);
}

.home-about-section-container-heading-underline h1 {
  max-width: 400px;
  text-align: right;
  color: var(--primary-black);
  padding-bottom: 16px;
}

.home-about-section-container-about-box {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.home-about-section-container-about-box-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home-about-section-container-about-box-text h3 {
  font-size: 32px;
}

.home-about-section-container-about-box-pattern img {
  max-width: 100%;
}

@media (max-width: 1000px) {
  .home-about-section-container-about-box {
    grid-template-columns: 1.35fr 0.65fr;
    gap: 1rem;
  }
}

@media (max-width: 700px) {
  .home-about-section-container-about-box {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
