.footer-component {
  background-color: var(--primary-white);
  height: max-content;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.footer-component * {
  background-color: transparent;
  background: transparent;
  font-family: var(--font-family);
}

.footer-component-first-section {
  display: flex;
  padding: 120px 0px 0px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  flex: 1 0 0;
  align-self: stretch;
  border-right: 1.5px solid var(--strokecolor-white, #1d1d1d);
}

.footer-component-first-section > div > span {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.footer-component-first-section > div {
  display: flex;
  align-items: center;
  gap: 17px;
  align-self: stretch;
}

.footer-component-second-section {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.footer-component-second-section-upper {
  display: flex;
  width: 946px;
  padding: 120px 180px 32px 80px;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1.5px solid var(--strokecolor-white, #1d1d1d);
}

.footer-component-second-section-upper li a {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-component-second-section-upper li a:hover,
a.active-footer-link {
  color: var(--primary-green) !important;
}

.footer-component-second-section-lower {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-component-second-section-lower ul {
  display: flex;
  width: 868px;
  padding: 32px 80px;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-component-second-section-lower ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-component-second-section-lower ul li a span {
  color: var(--black-primary-black, #1d1d1d);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-component-second-section-lower-copyright {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 80px;
  font-size: 16px;
}

.footer-component-second-section-lower-copyright > span {
  font-size: 25px;
}
