.carousel {
  position: relative;
  width: 100%;
  background-color: #1d1d1d;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-image {
  display: none;
  width: 100%;
  height: 100%;
}

.carousel-image.active {
  display: block;
}

.image-container img {
  width: 100%;
  height: auto;
  max-height: 550px;
  min-height: 400px;
  object-fit: fill;
  border-radius: 8px 8px 0px 0px;
}

/* Navigation buttons */
.carousel-control {
  position: absolute;
  top: 50%;
  background-color: var(--on-black);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 100%;
  z-index: 2;
  width: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control.prev {
  left: 1rem;
}

.carousel-control.next {
  right: 1rem;
}

/* Dots (indicators) */
.carousel-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 2;
}

.carousel-dots .dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #c3fbcb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-dots .dot.active {
  background-color: #26ce3d;
}
