.service-hero-section-container {
  color: white;
  background-color: var(--primary-black);
  margin-block: 80px !important;
}

.service-hero-section-container p {
  font-weight: 600;
  font-size: 48px;
  max-width: 1033px;
}
