.about-meet-team-section-content {
  display: flex;
  padding: var(--pg-pt, 56px) 80px var(--pg-pb, 88px) 80px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  opacity: var(--sds-size-stroke-border);
  background: var(--primary-white, #fefefe);
  gap: 80px;
  margin-bottom: 2px;
}
.about-meet-team-section-content-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
  border-bottom:1px solid var(--primary-black);
  opacity: var(--sds-size-stroke-border);
}
.about-meet-team-section-content-heading h1 {
  color: var(--black-primary-black, #1d1d1d);
  text-align: right;
  font-family: Inter;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1.52px;
  margin: 0;
}

.about-meet-team-section-content-description {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  opacity: var(--sds-size-stroke-border);
}
.about-meet-team-section-content-description p {
  width: 40%;

  color: var(--black-primary-black, #1d1d1d);

  /* body/body lg (desktop)/body lg bold */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  opacity: var(--sds-size-stroke-border);
}
.about-meet-team-section-content-membersInfo {
  display: flex;
  align-items: center;
  align-content: center;
  gap: var(--pg-pt, 56px) 24px;
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: var(--sds-size-stroke-border);
}

.about-meet-team-section-content-membersProfile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sds-size-space-300);
  opacity: 0.8;
}
.about-meet-team-section-content-membersPhotoOne {
  width: 300px;
  height: 360px;
  border-radius: var(--bd-radius-8, 8px);
  opacity: var(--sds-size-stroke-border);
}
.about-meet-team-section-content-membersPhotoTwo {
  width: 300px;
  height: 360px;

  border-radius: var(--bd-radius-8, 8px);
  opacity: var(--sds-size-stroke-border);
  background: url(./assets/images/team_onclick_hero_image.png) lightgray 50% /
    cover no-repeat;
}
.about-meet-team-section-content-membersProfileBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  opacity: var(--sds-size-stroke-border);
}
.about-meet-team-section-content-membersRole {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  ap: 2px;
  opacity: var(--sds-size-stroke-border);
}
.about-meet-team-section-content-membersRole h4 {
  align-self: stretch;
  color: var(--black-primary-black, #1d1d1d);
  /* body/body lg (desktop)/body lg heavy */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  margin:0;
  line-height: normal;

  opacity: var(--sds-size-stroke-border);
}
.about-meet-team-section-content-membersRole p {
  align-self: stretch;
  margin:0;
  color: var(--black-primary-black, #1d1d1d);

  /* Others/label */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  opacity: var(--sds-size-stroke-border);
}
.about-meet-team-section-content-membersSocials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--sds-size-space-400);
  opacity: var(--sds-size-stroke-border);
}

