.portfolio-home-skeleton {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;

  padding-top: 2rem;
}

.portfolio-home-skeleton > div {
  background-color: #ecebeb;
  border-radius: 1rem;
  min-height: 400px;
}

@media (max-width: 400px) {
  .portfolio-home-skeleton {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
  }
}
