.nav-bar {
  display: flex;
  padding: 10px 5%;
  width: 100vw;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 68px;
  color: var(--black-bg);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  transition: 0.2s;
}
.nav-bar button {
  font-size: 14px;
}

.dark.nav-bar {
  color: var(--white-bg);
  box-shadow: none;
  background-color: var(--black-bg);
}

svg {
  width: 16px;
  height: 16px;
  fill: var(--primary-color);
}

.nav-bar > * {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
}

.nav-bar .svg {
  width: 21px;
  height: max-content;
  fill: var(--dark-bg);
  transition: 0.2s ease-out;
}

.dark.nav-bar .svg {
  fill: var(--white-bg);
}

.nav-bar .svg.logo {
  width: 25px;
}

.search-icon.svg {
  width: 18px;
}

.search-icon.svg:hover {
  cursor: pointer;
}

.caretDown.svg {
  width: 10px;
  margin-top: 5px;
}

.logo-container {
  font-size: 12px;
  font-weight: 600;
  gap: 8px;
}

.logo-container > span {
  margin-top: 5px;
}

.dark .logo-container > span {
  color: #ffffff;
}

.cart-wishlist,
.nav-tools,
li {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.cart-wishlist .svg {
  cursor: pointer;
}

.nav-options {
  gap: 40px;
  height: 100%;
}

.nav-options li:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.nav-options li:hover .svg {
  fill: var(--primary-color);
  transform: rotate(-180deg);
  transition: 0.2s ease-out;
}

.nav-options li:hover .nav-product-menu {
  color: var(--black-bg);
  background-color: var(--white-bg);
}

.dark .nav-options li:hover .nav-product-menu {
  color: var(--white-bg);
  background-color: var(--black-bg);
}

.cart-wishlist {
  gap: 20px;
  position: relative;
}

.nav-tools {
  gap: 80px;
}

.nav-accessories {
  gap: 40px;
}

.sign-up-button {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 8px;
}

.sign-up-button svg.svg {
  fill: var(--white-bg);
}

.line-between {
  width: 1.5px;
  height: 18px;
  background-color: var(--light-grey);
  border-radius: 3px;
}

.cart,
.wishlist {
  position: relative;
}

.cart-badge,
.wishlist-badge,
.mobile-menu-badge {
  width: 14px;
  height: 14px;
  position: absolute;
  background-color: var(--primary-color);
  color: var(--white-bg) !important;
  border-radius: 50%;
  left: -10px;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  overflow: hidden;
}

.sign-up-button .svg {
  width: 25px;
}

.nav-product-menu,
.nav-cart-wishlist-menu {
  width: 100vw;
  position: absolute;
  min-height: 0;
  max-height: 0;
  padding: 0 5%;
  background-color: var(--white-bg);
  top: 65px;
  left: 0vw;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 0 0 2px 2px;
  transition-delay: 0.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.dark .nav-product-menu {
  background-color: var(--black-bg);
}

.nav-product-menu::-webkit-scrollbar,
.nav-cart-wishlist-menu::-webkit-scrollbar {
  display: none;
}

.nav-cart-wishlist-menu {
  width: calc(100% + 200px);
  border-radius: 8px;
  top: 50px;
  left: -7.5vw;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #ffffff;
}

.nav-options li:nth-child(2):hover .nav-product-menu,
.cart:hover ~ .nav-cart-wishlist-menu,
.wishlist:hover ~ .nav-cart-wishlist-menu,
.nav-cart-wishlist-menu:hover {
  min-height: 300px;
  max-height: 90dvh;
  padding: 20px 5%;
  padding-bottom: 80px;
  transition: 0.5s;
  transition-delay: 0.2s;
  overflow: hidden;
}

.cart:hover ~ .nav-cart-wishlist-menu,
.wishlist:hover ~ .nav-cart-wishlist-menu,
.nav-cart-wishlist-menu:hover {
  max-height: 83dvh !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  min-height: 350px;
  padding-bottom: 4px;
}

.main-cart-body {
  min-height: 0;
  max-height: 0;
  transition: 0.5s;
  transition-delay: 1s;
}

.cart:hover ~ .nav-cart-wishlist-menu .main-cart-body,
.wishlist:hover ~ .nav-cart-wishlist-menu .main-cart-body,
.nav-cart-wishlist-menu:hover .main-cart-body,
.main-cart-body:hover {
  min-height: 300px;
  max-height: calc(83vh - 40px);
  transition-delay: 0.3s;
}

.nav-product-menu-category {
  width: max(30%, 250px);
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 140px;
  padding: 10px;
  border-radius: 8px;
  border: 1.5px solid transparent;
  color: var(--black);
}

.nav-product-menu-category:hover {
  background-color: #8e8e8e20;
  border: 1.5px solid #ffffff2d;
}

.nav-product-menu-category * {
  width: max-content;
  max-width: 150px;
  text-align: left;
  color: var(--black);
}

.category-image-container > img {
  max-width: 100%;
  max-height: 100%;
}

.category-image-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.short-category-description {
  margin-top: -12.5px;
  font-weight: 300;
  font-size: 14px;
}

.colored-nav {
  background-color: var(--white-bg);
}

.dark.colored-nav {
  background-color: var(--black-bg);
}

.mobile-nav-menu-button span {
  width: 22px;
  height: 1.5px;
  background-color: var(--black-bg);
  display: block;
  border-radius: 4px;
  transition: 0.6s;
}

.mobile-nav-menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16px;
  display: none;
}

.mobile-nav-menu-button:hover {
  cursor: pointer;
}

.dark .mobile-nav-menu-button span {
  background-color: var(--white-bg);
}

.changeToClose.mobile-nav-menu-button span:first-child {
  translate: 0px 7px;
  transform: rotate(45deg);
}

.changeToClose.mobile-nav-menu-button span:nth-child(2) {
  opacity: 0;
  transition: 0.6s;
}

.changeToClose.mobile-nav-menu-button span:last-child {
  translate: 0px -7px;
  transform: rotate(-45deg);
  transition: 0.6s;
}

.mobile__nav__menu {
  position: absolute;
  background-color: var(--white-bg);
  width: 100vw;
  padding: 10px 18px;
  top: 67.5px;
  left: 0px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px;
  border-radius: 0px 0px 2px 2px;
  max-height: calc(100vh - 67.5px);
  overflow-y: scroll;
  color: var(--black-bg);
  transition: 0.4s;
}

.dark .mobile__nav__menu {
  background-color: var(--black-bg);
  color: var(--white-bg);
}

.dark .mobile__nav__menu svg {
  fill: var(--white-bg);
}

.mobile__nav__menu.closed {
  max-height: 0px;
  overflow: hidden;
  padding: 0px 18px;
}

.mobile__menu li > ul {
  padding: 5px 10px;
  overflow: hidden;
  max-height: 400px;
  transition: 0.4s;
  width: 100%;
  padding-left: 30px;
  border-radius: 8px;
}

.mobile__menu {
  max-height: inherit;
  padding: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 15px;
}

.closed.mobile__menu {
  max-height: 0px;
}

.mobile__nav__menu li span,
.mobile__nav__menu li a {
  font-size: 16px;
  width: 100%;
  padding: 10px 0px;
  font-weight: 400;
  color: var(--black-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.mobile__nav__menu li span svg,
.mobile__nav__menu li a svg {
  fill: var(--black-bg);
}

.dark .mobile__nav__menu li span,
.dark .mobile__nav__menu li a {
  color: var(--white-bg);
}

.mobile__nav__menu li:hover,
.mobile__nav__menu li:hover {
  cursor: pointer;
}

.mobile__menu li {
  width: 100%;
  height: max-content;
}

.mobile__menu > li {
  border-bottom: 1.5px solid var(--light-grey);
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
}

.dark .mobile__menu > li {
  border-color: #ffffff0c;
}

.mobile__menu > li:last-child {
  border-bottom: none;
}

.mobile__menu li.closed > ul {
  max-height: 0px;
  padding: 0px 10px;
  transition: 0.4s;
  padding-left: 30px;
}

.drop__down span svg,
.drop__down__sub span svg {
  transform: rotate(-180deg);
  display: block;
  transition: 0.4s;
}

.drop__down.closed > span svg,
.drop__down__sub.closed > span svg {
  transform: rotate(0deg);
  transition: 0.6s;
  width: 20px;
  height: 20px;
}

.drop__down__sub > ul {
  padding-top: 0px;
}

.dark ul li.nav-link a {
  color: var(--white-bg);
}

ul li.nav-link a {
  font-weight: 400;
  color: var(--font-color);
}

ul li.nav-link a:hover {
  color: var(--primary-color);
}

.mobile__nav__menu li .mobile-menu-badge {
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  font-size: 12px;
}

.mobile__nav__menu .sign-up-button {
  width: 60%;
  color: var(--white-bg) !important;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  padding: 12px 0;
}

@media screen and (min-width: 986px) {
  .mobile-nav-menu-button {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .nav-tools .svg:hover {
    fill: var(--primary-color);
    transition: none !important;
  }
}

@media screen and (max-width: 985px) {
  .nav-options {
    display: none;
  }

  .sign-up-button {
    display: none;
  }

  .mobile-nav-menu-button {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .line-between,
  .wishlist,
  .cart {
    display: none;
  }

  .nav-tools {
    gap: 40px;
  }
}

.hide {
  max-height: 0px;
  overflow: hidden;
  padding: 0px 18px;
  transition: 0.4s;
}
