:root {
  --primary-color: #2997ff;
  --secondary-color: #0887ff;
  --white-bg: #ffffff;
  --black-bg: #000000;
  --light-grey: #f4f4f4;
  --dark-grey: #d9d9d9;
  --glassmorph-gradient: linear-gradient(to bottom, #f4f4f440, #f4f4f421);
  --font-lg: 60px;
  --font-xl: 75px;
  --font-md: 34px;
  --font-sm: 25px;
  --font-rg: 18px;
  --font-family: 'Outfit', sans-serif;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--white-bg);
  border-radius: 8px;
  font-family: var(--font-family);
}

.primary-btn:hover {
  background-color: var(--secondary-color);
}

*:-webkit-scrollbar {
  width: 3px;
}

P::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--light-grey);
}

div.blur-background,
section.blur-background {
  opacity: 0.7;
  filter: blur(1px);
  transition: 0.6s;
  transition-delay: 0.2s;
}

html,
body {
  margin: 0;
}

@media screen and (max-width: 500px) {
  div.blur-background,
  section.blur-background {
    transition-delay: 0s;
  }
}
