@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.home-hero-section {
  min-height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black-primary-black, #1d1d1d);
}

.home-hero-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  gap: 4rem;
}

.home-hero-section-container-text-n-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.home-hero-section-container-text-n-btns > h1,
.home-hero-section-container-text-n-btns > p {
  margin: 0;
}

.display-lg {
  color: var(--primary-white);
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 105.263% */
  letter-spacing: -1.52px;
}

.body-lg {
  color: var(--primary-white);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.body-lg-heavy {
  color: var(--primary-white);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.home-hero-section-container-btn-grp {
  display: flex;
  align-items: center;
  gap: 48px;
}

.underline-link {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.abs {
  position: absolute;
}

.home-hero-section-container-clients {
  background: transparent;
  right: 38vw;
  transform: translateY(100px);
}

.home-hero-section-container-rating {
  right: 5vw;
  transform: translateY(-200px);
  background: transparent;
}

.home-hero-section-container-heroimg > img {
  width: 100%;
}

/* media queries */
@media (max-width: 988px) {
  .home-hero-section-container {
    grid-template-columns: 1fr;
  }
}
