.project-card {
  background-color: var(--on-black);
  width: 100%;
  border-radius: 8px;
  margin: 40px 0px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.project-info {
  padding: 16px 15px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-info > div:nth-child(2) {
  min-width: 100px;
}
.project-info > div:first-child {
  max-width: 1000px;
}
.project-info .project-card-title {
  font-size: 2rem;
  font-weight: 600;
  color: #fefefe;
}

.project-info .project-card-description {
  color: #fefefe;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
}

.project-info h3 {
  color: #fefefe;
}

.tags {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.tag {
  background-color: transparent;
  color: #fefefe;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.7rem;
  font-weight: 200;
  border: 1px solid var(--white-primary-white, #fefefe);
}

@media (max-width: 768px) {
  .project-info > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tag {
    font-size: 0.5rem;
  }
  .project-info .project-card-title {
    font-size: 1rem;
  }

  .project-info .project-card-description {
    font-weight: 200;
  }

  .project-info h3 {
    font-weight: 400;
  }
}
