.project-card {
	background-color: #3d3d3d;
	width: 100%;
	max-height: 100vh;
	border-radius: 8px;
	overflow: hidden;
	margin: 40px 20px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.project-info {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
}

.project-info > div:nth-child(2) {
	min-width: 100px;
}

.project-info .project-card-title {
	font-size: 1.2rem;
	font-weight: 500;
	color: #fefefe;
}

.project-info .project-card-description {
	color: #fefefe;
	font-size: 0.9rem;
	font-weight: 200;
}

.project-info h3 {
	color: #fefefe;
}

.tags {
	display: flex;
	gap: 10px;
	margin: 10px 0;
}

.tag {
	background-color: transparent;
	color: #fefefe;
	padding: 5px 10px;
	border-radius: 20px;
	font-size: 0.7rem;
	font-weight: 200;
	border: 1px solid var(--white-primary-white, #fefefe);
}

.see-more-btn {
	background-color: #28a745;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.see-more-btn:hover {
	background-color: #218838;
}

@media (max-width: 768px) {
	.project-info {
		justify-content: center;
	}
	.project-info > div:first-child {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.tag {
		font-size: 0.5rem;
	}
	.project-info .project-card-title {
		font-size: 1rem;
        text-align: center;

	}

	.project-info .project-card-description {
        text-align: center;
		font-weight: 200;
	}

	.project-info h3 {
		font-weight: 400;
	}
}

/*@media (min-width: 769px) {
    .project-card {
        width: 48%;
    }
} */
