.team-members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  width: 100%;
}

.pf_card {
  background: #fff;
}

.pf_card_image {
  width: 100%;
  height: 450px;
  min-height: 300px;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  filter: grayscale(0.9);
  opacity: 0.4;
}
.pf_card_image:hover {
  opacity: 1;
}

.pf_card_member_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pf_card_info {
  margin-top: 10px;
  max-width: 50%;
}

.pf_card_info > span:first-of-type {
  font-size: 1rem;
  line-height: 1em;
  text-decoration: none;
}

.pf_card_info > p {
  font-size: 0.7rem;
  line-height: 1em;
}

.pf_card_socials {
  margin-top: 10px;
}

.pf_card_socials img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media (max-width: 620px) {
  .pf_card_image {
    height: auto;
    max-height: unset;
    object-fit: fill;
  }
}

@media (max-width: 670px) {
  .pf_card_image {
    height: auto;
    max-height: unset;
  }
}

@media (max-width: 700px) {
  .pf_card_image {
    filter: grayscale(0.9);
    opacity: 1;
  }
}
