/* Card styling */
.portfolio-card {
  margin-bottom: 10%;
  color: #fff;
}

.swiper {
  width: 100%;
  max-height: 520px;
}

.swiper img {
  width: 100%;
  height: auto;
}

.swiper-text {
  position: absolute;
  top: 35%;
  left: 15%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.swiper-text h1 {
  margin: 0;
  font-size: 3rem;
}

.swiper-text p {
  color: #008cff;
  font-weight: 700;
}

.swiper-text a {
  border: 2px solid #008cff;
  width: 70%;
  padding: 10px 15px;
  color: #008cff;
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
}

.swiper-pagination span {
  background-color: #26ce3d;
  width: 15px;
  height: 15px;
}

.swiper-navigations {
  position: absolute;
  bottom: 1%;
  left: 50%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.swiper-navigations span {
  width: 15px;
  height: 15px;
  border: 1px solid #26ce3d;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-navigations span.active {
  background-color: #26ce3d;
}

/* Card bottom styling */
.card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.card-bottom-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-bottom div {
  display: flex;
  gap: 20px;
}

.card-bottom-text a {
  padding: 8px 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
}

.see-more-btn {
  padding: 10px 20px;
  background-color: #26ce3d;
  height: fit-content;
  color: #000;
  border-radius: 25px;
  cursor: pointer;
}

.card-bottom h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.card-bottom span {
  font-size: 0.8rem;
  font-weight: 200;
}


/* Portfolio Detail Page */
.portfolio-detail {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  color: #fff;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.portfolio-detail h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #26ce3d;
  font-weight: 700;
}

.portfolio-detail p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #ccc;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-detail img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .portfolio-detail h1 {
    font-size: 2.5rem;
  }

  .portfolio-detail p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .portfolio-detail h1 {
    font-size: 2rem;
  }

  .portfolio-detail p {
    font-size: 1rem;
  }

  .portfolio-detail img {
    max-width: 100%;
    height: auto;
  }
}
