/* src/components/ProjectDetail.css */
.project-detail {
    padding: 20px;
    max-width: 2000px;
    margin: 0 auto;
    background-color: blueviolet;
}

.project-info {
    margin-top: 20px;
}

.project-analysis,
.project-solution,
.project-numbers,
.project-review,
.project-video {
    margin: 30px 0;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

.project-numbers li {
    font-size: 18px;
    margin-bottom: 5px;
}